body {
  width: 100%;
  min-height: 100%;
  background-image: url(../images/pokeball.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: unset center;
  background-position: center center;
  background-size: cover;
}
body .header {
  font-size: 50px;
  height: 100px;
  background-color: #3B4CCA;
  color: #FFDE00;
  box-shadow: #3B4CCA 0px 0px 15px 0px;
}
body .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  background-color: #FFDE00;
  height: 200px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 5px #3B4CCA;
  border-radius: 10px;
  box-shadow: #3B4CCA 0px 3px 8px 3px;
}
body .description .welcome {
  font-size: 24px;
  font-weight: bold;
}
<<<<<<< HEAD
=======
.link:hover{
  text-decoration: none;
}
.card-set-link{
  color:black;
  font-size: 20px;
  font-style: italic;
}
.rules{
  margin-bottom: 2px;
}
>>>>>>> b0852fc793f091ef378da503ff64e8cd579ce91b
body .description .rules {
  font-size: 20px;
}

body .players {
  background-color: #FFDE00;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid 5px #3B4CCA;
  border-radius: 10px;
  width: 700px;
  height: 100px;
  box-shadow: #3B4CCA 0px 3px 8px 3px;
  margin: 250px auto 0px auto;
}
body .players .players-button {
  background-color: white;
  border-radius: 10px;
  border: solid #CC0000 2px;
  text-decoration: none;
  font-size: 24px;
}
body .players .players-button:hover {
  background-color: #CC0000;
  color: white;
  transition: 0.5s;
}
body .players .players-button:focus {
  outline: none;
}
body .players .hidden {
  position: absolute;
  background-color: white;
  z-index: 1;
  margin-left: 10px;
  border-radius: 0px 0px 10px 10px;
  border-right: solid #CC0000 2px;
  border-left: solid #CC0000 2px;
  border-bottom: solid #CC0000 2px;
}
body .players .hidden .dropdown-item:hover {
  background-color: #CC0000;
  cursor: pointer;
  color: white;
}
body .players .hidden .cardset-link:hover {
  background-color: #3B4CCA;
  color: #FFDE00;
}
body .start {
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin-top: 40px;
  border: solid #3B4CCA 5px;
  box-shadow: #3B4CCA 0px 3px 8px 3px;
  border-radius: 10px;
}
body .start:hover {
  transition: ease-in 0.3s;
  background-color: #3B4CCA;
  color: #FFDE00;
}
body .start:active {
  transform: scale(0.9);
  transition: 0s;
}
body .start:focus {
  outline: none;
}

.start-link {
  color: black;
}

.start-link:hover {
  color: #FFDE00;
  text-decoration: none;
}

.gameboard {
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  width: 80%;
  height: 700px;
  margin: 50px auto;
  display: flex;
}
.gameboard .game-left {
  width: 30%;
  height: 100%;
}
.gameboard .game-left .player-display {
  margin: 10px;
}
.gameboard .game-left .player-display .player-info {
  border-radius: 10px;
  border: solid 5px #3B4CCA;
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  background-color: #FFDE00;
}
.gameboard .game-left .player-display .player-info .name-input {
  padding-left: 10px;
  border: none;
  border-radius: 10px;
}
.gameboard .game-left .player-display .player-info .name-input:focus {
  outline: none;
}
.gameboard .game-left .player-display .player-info .score {
  margin-left: 25px;
  margin-bottom: 0px;
}
.gameboard .game-right {
  width: 70%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
