$red1: #FF0000;
$red2: #CC0000;
$blue: #3B4CCA;
$yellow1: #FFDE00;
$yellow2: #B3A125;
$br: 10px;

body {
    width: 100%;
    min-height: 100%;
    background-image: url(../images/pokeball.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: unset center;
    background-position: center center;
    background-size: cover;
    .header {
        font-size: 50px;
        height: 100px;
        background-color: $blue;
        color: $yellow1;
        box-shadow: $blue 0px 0px 15px 0px;
        
    }
    .description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        background-color: $yellow1;
        height: 200px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: solid 5px $blue;
        border-radius: $br;
        box-shadow: $blue 0px 3px 8px 3px;
        .welcome{
            font-size: 24px;
            font-weight: bold;
        }
        .rules{
            font-size: 20px;
        }
        
    }
    .players{
        background-color: $yellow1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: solid 5px $blue;
        border-radius: $br;
        width: 700px;
        height: 100px;
        box-shadow: $blue 0px 3px 8px 3px;
        margin: 250px auto 0px auto;
        
        .players-button{
            background-color: white;
            border-radius: $br;
            border: solid $red2 2px;
            text-decoration: none;
            font-size: 24px;
        }
        .players-button:hover{
            background-color: $red2;
            color: white;
            transition: .5s;
        }
        .players-button:focus{
            outline: none;
        }
        .hidden{
            position: absolute;
            background-color: white;
            z-index: 1;
            margin-left: 10px;
            border-radius: 0px 0px $br $br;
            border-right: solid $red2 2px;
            border-left: solid $red2 2px;
            border-bottom: solid $red2 2px;
            .dropdown-item:hover{
                background-color: $red2;
                cursor: pointer;
                color: white;
            }
            .cardset-link:hover{
                background-color: $blue;
                color: $yellow1;
            }
        }
        
    }
    .start{
        font-weight: bold;
        font-size: 20px;
        width: 200px;
        height: 50px;
        margin-top: 40px;
        border: solid $blue 5px;
        box-shadow: $blue 0px 3px 8px 3px;
        border-radius: $br;
    }
    .start:hover{
        transition: ease-in .3s;
        background-color: $blue;
        color: $yellow1;
    }
    .start:active{
        transform: scale(.9);
        transition: 0s;
    }
    .start:focus{
        outline: none;
    }
}
.start-link{
    color: black;
    
}
.start-link:hover {
    color: $yellow1;
    text-decoration: none;

}
.gameboard{
    background-color: white;
    border:  5px solid black;
    border-radius: $br;
    width: 80%;
    height: 700px;
    margin: 50px auto;
    display: flex;
    .game-left{
        width: 30%;
        height: 100%;
        .player-display{
            margin: 10px;
            .player-info{
                border-radius: $br;
                border: solid 5px $blue;
                list-style-type: none;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-bottom: 10px;
                background-color: $yellow1;
                .name-input{
                    padding-left: 10px;
                    border: none;
                    border-radius: $br;
                }
                .name-input:focus{
                    outline: none;
                }
                .score{
                    margin-left: 25px;
                    margin-bottom: 0px;
                }
            }
        }
    }
    .game-right{
        width: 70%;
        height: 100%;
    }
}